doctype html
html(lang="en")
    head
        title Overview
        include elements/head
    body
        .site-wrapper
            include elements/header
            include elements/sidebar
            .content-container
                .container-fluid.container-md-30
                    .form-group.fg-lg
                        .panel.panel-default
                            .panel-heading
                                .heading-title Overview
                            .panel-body
                                .special-wrapper
                                    .special-sidebar
                                        include elements/filter-big
                                    .special-content
                                        .form-group.fg-lg
                                            .table-responsive
                                                table.table.table-striped
                                                    thead
                                                        tr
                                                            th SKU
                                                            th Title
                                                            th Price
                                                            th Status
                                                            th In stock
                                                            th Reserved stock
                                                            th Operation
                                                    tbody
                                                        tr
                                                            td 23046
                                                            td Bush Club (2 Disc Set)
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 5
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td Teens vs MILFs #4
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 5
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td The Breast of Scoreland Hardcut #5
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 0
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td Bush Club (2 Disc Set)
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 5
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td Bush Club (2 Disc Set)
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 5
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td Bush Club (2 Disc Set)
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 5
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td Teens vs MILFs #4
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 5
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td The Breast of Scoreland Hardcut #5
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 0
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td Bush Club (2 Disc Set)
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 5
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td Bush Club (2 Disc Set)
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 5
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td Bush Club (2 Disc Set)
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 5
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td Teens vs MILFs #4
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 5
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td The Breast of Scoreland Hardcut #5
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 0
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td Bush Club (2 Disc Set)
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 5
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                                        tr
                                                            td 23046
                                                            td Bush Club (2 Disc Set)
                                                            td
                                                                span.glyphicon.glyphicon-info-sign(data-toggle="tooltip" data-placement="top" title="<table><tr><th>YC Back-office:</th><td>£25.00</td></tr><tr><th>YC UK:</th><td>£25.00</td></tr><tr><th>YC NL:</th><td>£25.00</td></tr><tr><th>YC Distrubutions:</th><td>-</td></tr></table>")
                                                                | £25.00
                                                            td Enabled
                                                            td 5
                                                            td 1
                                                            td.cell-flex
                                                                a.btn.btn-link(href="#") View Product
                                            include elements/pagination
            include elements/footer
            include elements/scripts
