// jQuery (necessary for Bootstrap's JavaScript plugins)
//script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
// Include all compiled plugins (below), or include individual files as needed
//script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
script(src="assets/plugins/jquery/jquery.js")
script(src="assets/plugins/jquery/jquery-ui.js")
script(src="assets/plugins/bootstrap/js/bootstrap.js")
script(src="assets/plugins/owlcarousel/js/owl.carousel.min.js")
script(src="assets/plugins/formstyler/js/jquery.formstyler.min.js")
script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
script(src="assets/plugins/responsivetabs/js/jquery.responsivetabs.js")
script(src="assets/plugins/mmenu/jquery.mmenu.min.js")
script(src="assets/plugins/select2/dist/js/select2.full.min.js")
script(src="assets/plugins/tinymce/tinymce.min.js")
script(src="assets/plugins/tinymce/jquery.tinymce.min.js")
script(src="assets/plugins/nouislider/nouislider.min.js")
script(src="assets/plugins/wnumb/wNumb.js")
script(src="assets/plugins/jscrollpane/script/jquery.mousewheel.js")
script(src="assets/plugins/jscrollpane/script/mwheelIntent.js")
script(src="assets/plugins/jscrollpane/script/jquery.jscrollpane.min.js")
script(src="assets/js/main.js")
