.sidebar-left#sidebar-left
    .sidebar-title MAIN MENU
    .scroll-sidebar
        .scroll-sidebar__container
            nav.sidebar-nav
                ul.sidebar-nav__list
                    li
                        a.parent(role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="true" aria-controls="collapseExample1")
                            em Products
                            span.glyphicon.glyphicon-chevron-up
                        .collapse.in#collapseExample1
                            ul
                                li.active
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Overview
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Stock Check-In
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Stock Check-out
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Stock set manual
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Add barcode
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Disable product
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Manage images
                    li
                        a.parent.collapsed(role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="true" aria-controls="collapseExample2")
                            em Make order
                            span.glyphicon.glyphicon-chevron-down
                        .collapse#collapseExample2
                            ul
                                li.active
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Overview
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Stock Check-In
                    li
                        a.parent.collapsed(role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="true" aria-controls="collapseExample3")
                            em Activities
                            span.glyphicon.glyphicon-chevron-down
                        .collapse#collapseExample3
                            ul
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Overview
                                li.active
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Stock Check-In
                    li
                        a.parent.collapsed(role="button" data-toggle="collapse" href="#collapseExample4" aria-expanded="true" aria-controls="collapseExample4")
                            em Purchase order
                            span.glyphicon.glyphicon-chevron-down
                        .collapse#collapseExample4
                            ul
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Overview
                    li
                        a.parent.collapsed(role="button" data-toggle="collapse" href="#collapseExample5" aria-expanded="true" aria-controls="collapseExample5")
                            em Orders
                            span.glyphicon.glyphicon-chevron-down
                        .collapse#collapseExample5
                            ul
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Overview
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Disable product
                    li
                        a.parent.collapsed(role="button" data-toggle="collapse" href="#collapseExample6" aria-expanded="true" aria-controls="collapseExample6")
                            em Management
                            span.glyphicon.glyphicon-chevron-down
                        .collapse#collapseExample6
                            ul
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Stock set manual
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-chevron-right
                                        | Disable product

