.table-responsive
    table.table.table-striped
        thead
            tr
                th.cell-fixed
                th SKU
                th Title
                th Price
                th Status
                th In stock
                th Reserved stock
        tbody
            tr
                td
                    .radio
                        input(type="radio" id="table-check-1")
                        label(for="table-check-1")
                td 23041
                td Bush Club (2 Disc Set)
                td £30.00
                td Enabled
                td 10
                td 0
            tr
                td
                    .radio
                        input(type="radio" id="table-check-2" checked)
                        label(for="table-check-2")
                td 23041
                td Teens vs MILFs #4
                td £30.00
                td Enabled
                td 10
                td 0
            tr
                td
                    .radio
                        input(type="radio" id="table-check-3")
                        label(for="table-check-3")
                td 23041
                td Teens vs MILFs #4
                td £30.00
                td Enabled
                td 10
                td 0
            tr
                td
                    .radio
                        input(type="radio" id="table-check-4")
                        label(for="table-check-4")
                td 23041
                td Teens vs MILFs #4
                td £30.00
                td Enabled
                td 10
                td 0
            tr
                td
                    .radio
                        input(type="radio" id="table-check-5" checked)
                        label(for="table-check-5")
                td 23041
                td Teens vs MILFs #4
                td £30.00
                td Enabled
                td 10
                td 0